@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --dark-gray: #434343;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.neonOne {
  min-height: 100vh;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clockOne {
  width: 28.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dark-gray);
  position: relative;

  box-shadow: 10px 50px 70px rgb(0 0 0 / 0.3),
    inset 5px 5px 10px rgb(0 0 0 / 0.5), inset 5px 5px 20px rgb(0 0 0 / 0.2),
    inset -5px -5px 15px rgb(0 0 0 / 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clockOne::before {
  content: "";
  width: 8px;
  aspect-ratio: 1;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: var(--dark-gray);
  z-index: 10;
}

.clockOne span {
  position: absolute;
  color: #fff;
  inset: 20px;
  transform: rotate(calc(30deg * var(--i)));
  text-align: center;
}

.clockOne span > * {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.clockOne .circle {
  position: absolute;
  aspect-ratio: 1;
  border: 2px solid rgb(0 0 0 / 0.5);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clockOne .circle i {
  width: 6px;
  height: 50%;
  background-color: var(--color);
  position: absolute;
  opacity: 0.5;
  transform-origin: bottom;
  transform: scaleY(0.7);
}

.clockOne .circle:nth-of-type(1) i {
  width: 2px;
}
.clockOne .circle:nth-child(2) i {
  width: 6px;
}

.clockOne .circle.inner {
  width: 180px;
}
.clockOne .circle.middle {
  width: 240px;
}
.clockOne .circle.outer {
  width: 300px;
}

.clockOne .circle::before {
  content: "";
  position: absolute;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color);
  top: -8px;
  box-shadow: 0 0 20px var(--color), 0 0 60px var(--color);
}
